ipykernel
ipython
numpy
pandas
scipy
matplotlib
seaborn
scikit-learn==1.1.2
plotly
pyprojroot
textblob==0.17.1
torch==1.10.1
torchtext==0.11.1
transformers==4.13.0
umap-learn==0.5.3
wordcloud==1.8.2.2